:root {
  --padding: 2rem;
}

#root {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding);
  overflow-x: hidden;
}

.logo {
  vertical-align: -10px;
  padding-right: 2rem;
}

.logo svg {
  width: 100%;
  height: auto;
  max-width: 213.199px;
}

.logo path {
  fill: var(--fg-color);
}

.word-input {
  border: 1px solid silver;
  border-radius: .25rem;
  line-height: 1;
  margin-top: 1rem;
  box-sizing: border-box;
  max-width: calc(100vw - var(--padding) * 2);

  display: inline-flex;

  &:focus-within, &:hover {
    outline: 2px solid var(--form-field-outline-color);
  }
}

.word-input > * {
  border: none;
}

.word-input, .word-input > * {
  font-size: 1.5rem;
  background-color: var(--form-field-bg-color);
}

.word-input > input:focus {
  border: none;
  outline: none;
}

.word-input > input {
  padding-left: .25em;
  flex: auto;
  min-width: 0;
  border-start-start-radius: calc(.25rem - 1px);
  border-end-start-radius: calc(.25rem - 1px);
}

.word-input > button {
  padding: .25rem .6rem;
  background-color: var(--button-bg-color);
  border-start-end-radius: calc(.25rem - 1px);
  border-end-end-radius: calc(.25rem - 1px);

  &:hover {
    background-color: var(--button-hover-bg-color);
  }
}

.dict-result {
  margin-top: 3rem;
}

.dict-result h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
