#root {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.word-input, .word-input > * {
  font-size: 1.5rem;
}

.word-input {
  border: 1px solid silver;
  border-radius: .25rem;
  display: inline-block;
  line-height: 1;

  &:focus-within, &:hover {
    outline: 2px solid orange;
  }
}


.word-input > * {
  border: none;
}

.word-input, .word-input > * {
  background-color: #333;
}

.word-input > input:focus {
  border: none;
  outline: none;
}

.word-input > input {
  padding-left: .25em;
}

.word-input > button {
  padding: .25rem .6rem;
  background-color: rgb(153, 84, 0);
  border-start-end-radius: calc(.25rem - 1px);
  border-end-end-radius: calc(.25rem - 1px);

  &:hover {
    background-color: rgb(189, 104, 0);
  }
}

.logo {
  font-size: 2rem;
  padding-right: 2rem;
}
