:root {
  --fg-color: white;
  --bg-color: #242424;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --form-field-bg-color: #333;
  --form-field-outline-color: orange;
  --button-bg-color: #995400;
  --button-hover-bg-color: #bd6800;
  --word-form-color: #80ff80;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: #213547;
    --bg-color: #f4f4f4;
    --link-color: #646cff;
    --link-hover-color: #747bff;
    --form-field-bg-color: white;
    --form-field-outline-color: #eb9800;
    --button-bg-color: #e07b00;
    --button-hover-bg-color: #ff9514;
    --word-form-color: #008000;
  }
  button {
    background-color: #f9f9f9;
  }
}
