:root {
  --fg-color: white;
  --bg-color: #242424;
  --link-color: #ff8c00;
  --link-hover-color: #ff9e27;
  --form-field-bg-color: #333;
  --form-field-border-color: #a0a0a0;
  --form-field-outline-color: orange;
  --button-bg-color: #995400;
  --button-hover-bg-color: #bd6800;
  --word-form-color: #80ff80;
  --etymology-color: #a0a0a0;
  --example-color: #dc6fd9;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
select.textarea,
input,
button {
  font-family: "Fira Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color: var(--fg-color);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

a {
  font-weight: 500;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
  text-decoration-thickness: 2px;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
}

::placeholder {
  color: var(--fg-color);
  opacity: 0.5;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: #213547;
    --bg-color: #f4f4f4;
    --link-color: #ad5f00;
    --link-hover-color: #804600;
    --form-field-bg-color: white;
    --form-field-border-color: #c0c0c0;
    --form-field-outline-color: #eb9800;
    --button-bg-color: #e07b00;
    --button-hover-bg-color: #ff9514;
    --word-form-color: #008000;
    --etymology-color: #707070;
    --example-color: #862d83;
  }
}

:root.dark-mode {
  --fg-color: white;
  --bg-color: #242424;
  --link-color: #ff8c00;
  --link-hover-color: #ff9e27;
  --form-field-bg-color: #333;
  --form-field-border-color: #a0a0a0;
  --form-field-outline-color: orange;
  --button-bg-color: #995400;
  --button-hover-bg-color: #bd6800;
  --word-form-color: #80ff80;
  --etymology-color: #a0a0a0;
  --example-color: #dc6fd9;
}

:root.light-mode {
  --fg-color: #213547;
  --bg-color: #f4f4f4;
  --link-color: #ad5f00;
  --link-hover-color: #804600;
  --form-field-bg-color: white;
  --form-field-border-color: #c0c0c0;
  --form-field-outline-color: #eb9800;
  --button-bg-color: #e07b00;
  --button-hover-bg-color: #ff9514;
  --word-form-color: #008000;
  --etymology-color: #707070;
  --example-color: #862d83;
}
